.registration__title {
  margin-top: 0;
  margin-bottom: 50;
  font-size: 24px;
  line-height: 1.21;
  font-weight: 900;
  font-style: normal;
  color: #fff;
  text-transform: capitalize;
}

@media screen and (max-width: 1023px) {
  .registration__title {
    font-size: 22px;
  }
}

@media screen and (max-width: 767px) {
  .registration__title {
    padding-left: 20px;
    font-size: 20px;
    line-height: 1.22;
  }
}
