.place {
  padding-bottom: 25px;
  display: grid;
  gap: 25px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, .15);
  grid-template-rows: 282px min-content;
  position: relative;
}

@media screen and (max-width: 425px) {
  .place {
    padding-bottom: 25px;
  }
}
