.registration__form {
  width: 100%;
  padding: 0 261px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .registration__form {
    width: 100%;
    padding: 0;
  }
}
