.footer__copyright {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1.22;
  font-weight: normal;
  font-style: normal;
  color: #545454;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    font-size: 14px;
  }
}
