.header__link {
  text-transform: capitalize;
  text-decoration: none;
  transition: opacity 2s ease-out;
  color: #000;
}

.header__link:hover {
  opacity: .6;
  cursor: pointer;
}

.header__link:visited {
  text-decoration: none;
  color: #fff;
}

.header__link:active {
  text-decoration: none;
  color: #fff;
}

