.registration__subtitle {
  margin-top: 15px;
  margin-bottom: 50;
  font-size: 14px;
  line-height: 1.21;
  font-weight: normal;
  font-style: normal;
  color: #fff;
  white-space: nowrap;
}

.registration__subtitle::first-letter {
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .registration__subtitle {
    margin-top: 20px;
    padding-left: 20px;
  }
}
