.header__text {
  text-transform: uppercase;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
}

@media screen and (max-width: 1023px) {
  .header__text {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .header__text {
    font-size: 14px;
  }
}
