.header__text {
  text-transform: uppercase;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-decoration: none;
  transition: opacity 2s ease-out;
}

.header__text:hover {
  opacity: .6;
  cursor: pointer;
}

.header__text:visited {
  text-decoration: none;
  color: #fff;
}

.header__text:active {
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 1023px) {
  .header__text {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .header__text {
    font-size: 14px;
  }
}
