.footer {
  width: 100%;
  padding-top: 66px;
}

@media screen and (max-width: 767px) {
  .footer {
    width: calc(100% - 19px * 2);
    padding-top: 48px;
    padding-right: 19px;
    padding-left: 19px;
  }
}
