.registration__input {
  width: 358px;
  margin-bottom: 30px;
  padding-bottom: 13px;
  border-bottom: 2px solid #ccc;
  font-size: 14px;
  line-height: 1.21;
  font-weight: normal;
  font-style: normal;
  color: #ccc;
  background: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-top: none;
  border-right: none;
  border-left: none;
}

.registration__input:focus {
  outline: none;
}
