.popup__container {
  position: relative;
  max-width: 430px;
  padding: 34px 36px 37px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 505px) {
  .popup__container {
    max-width: calc(100% - 19px * 2);
    padding: 25px 22px;
  }
}
