.button_type_login {
  min-width: 358px;
  height: 50px;
  margin-top: 216px;
  padding: 0;
  background: #fff;
  box-sizing: border-box;
  border: 2px solid #fff;
  border-radius: 2px;
  color: #000;
  text-transform: capitalize;
  font-size: 18px;
  line-height: 1.22;
  font-weight: normal;
  font-style: normal;
}

@media screen and (max-width: 767px) {
  .button_type_login {
    margin-left: 0;
    width: 100%;
    font-size: 16px;
    line-height: 1.19;
  }
}
