.registration {
  width: 100%;
  min-height: 720px;
  /* padding-top: 60px;
  padding-bottom: 50px; */
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  /* padding: 60px 461px 80px; */
  padding-top: 60px;
  padding-bottom: 112px;
}

@media screen and (max-width: 767px) {
  .registration {
    width: calc(100% - 19px * 2);
    padding: 40px 30px;
  }
}
