.registration {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  /* justify-content: start; */
  align-items: center;
  padding: 60px 461px 80px;
}

@media screen and (max-width: 767px) {
  .registration {
    width: calc(100% - 19px * 2);
    padding: 40px 19px 40px;
    padding-top: 42px;
  }
}
