.header {
  width: 100%;
  min-height: 74px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-bottom: 41px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 767px) {
  .header {
    min-height: 56px;
    padding-bottom: 31.6px;
    padding-left: 27px;
  }
}
