.popup {
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(0, 0, 0, .5);
  z-index: 10;
  opacity: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  transition: visibility 0.9s, opacity .9s ease-in-out;
}

